/********************GENERAL********************/
body {
    margin: 0;
}

a {
    transition: 0.5s color;
}

.colored-button {
    border-color: #51a517;
    border-width: 2px;
    background-color: #51a517;
    color: white;
    border-radius: 10px;
    max-width: 100%;
}

.colored-button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #51a517;
}

.input.colored {
    border-color: #51a517;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 31;
}