{% from 'macros.html' import head, header, importJS %}

{{ head('Configure Layout', extra_css_imports=['/static/css/configure.css'], gridster=True) }}

<body>
{{ header() }}
<main>
    <section class="section has-text-centered">
        <h1 class="title is-size-1 is-size-3-mobile">Configure widget layout</h1>
        <h2 class="subtitle is-size-5 is-size-6-mobile">The following represents your dashboard, and the dashed
            rectangles are widgets. Add, remove, and resize widgets as you please to design the <strong>layout</strong>
            of your dashboard.</h2>

        <div style="margin-bottom: 1.5rem;">
            <div class="gridster-border">
                <div class="gridster">
                    <ul>
                        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2"></li>
                        <li data-row="2" data-col="1" data-sizex="2" data-sizey="2"></li>

                        <li data-row="1" data-col="3" data-sizex="2" data-sizey="2"></li>
                        <li data-row="2" data-col="3" data-sizex="2" data-sizey="2"></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="buttons is-centered">
            <button class="button is-info" onclick="addGridsterItem()">
                <span class="icon is-small"><i class="fas fa-plus"></i></span>
                <span>Add Widget</span>
            </button>
        </div>

        <p class="subtitle" id="addition-error-msg" style="display: none;">Your dashboard is already full!<br>Try resizing or removing widgets to make space
            for more!</p>


        <div class="buttons is-centered">
            <button class="button is-danger">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
                <span>Discard Changes</span>
            </button>
            <button class="button is-success">
                <span class="icon is-small"><i class="fas fa-save"></i></span>
                <span>Save Changes</span>
            </button>
        </div>
    </section>
</main>
</body>
{{ importJS() }}
<script type="text/javascript" src="/static/js/configuration/configure_layout.js"></script>
<html>

