{% from 'macros.html' import head, header, importJS, loading_overlay %}

{{ head('Configure Widgets', extra_css_imports=['/static/css/configure.css'], gridster=True) }}

<body>
{{ header() }}
<main>
    {{ loading_overlay() }}
    <section class="section has-text-centered">
        <h1 class="title is-size-1 is-size-3-mobile">Configure widgets</h1>
        <h2 class="subtitle is-size-5 is-size-6-mobile" style="max-width: 60%; margin: 0 auto;">The following represents
            your dashboard, and the dashed rectangles are widgets. Select a rectangle to change the
            <strong>widget</strong>
            inside of it.</h2>

        <style>
            @media only screen and (min-width: 1340px) {
                h2.subtitle {
                    max-width: 40%;
                }
            }
        </style>

        <div style="margin: 1rem 0 1.5rem;">
            <div class="gridster-border">
                <div class="gridster">
                    <ul></ul>
                </div>
            </div>
        </div>

        <div class="buttons is-centered" id="btn-discard">
            <button class="button is-danger" onclick="window.location.href = '/configure'">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
                <span>Discard Changes</span>
            </button>
            <button class="button is-success" id="btn-save" onclick="saveLayout()">
                <span class="icon is-small"><i class="fas fa-save"></i></span>
                <span>Save Changes</span>
            </button>
        </div>

        <p class="subtitle" id="submission-error-msg" style="display: none;">Sorry, but something went wrong! Please try
            again!</p>
    </section>
</main>
</body>
{{ importJS() }}
<script type="text/javascript" src="/static/js/configuration/configure_widgets.js"></script>
<html>

